<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:icon="@mipmap/ic_launcher_dev"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_dev_round"
        tools:replace="android:icon,android:roundIcon">
        <!-- Host para tests instrumentados de Compose; sólo existe en builds debug. -->
        <activity

            android:name="dev.pcha.foodsense.app.ui.HiltTestActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>
</manifest>
